@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,200..900;1,200..900&family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

body {
    font-family: 'Figtree', "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

/* NAVIGATION SECTION */

#menu {
    /* width | style | color */
    border-radius: 25px;
    padding: 3px 3px;
    background-color: #eee;
}

#menu .uk-active {
    border-radius: 50px;
}

#menu li {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

/* LANDING SECTION */

/* #my-name {
    font-size: 9rem;
} */

.name-position {
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -40%);
}

@media (width >= 950px) {
    .multi-bg {
        background-image: url(../images/cherry_tree.svg), url(../images/petals.svg);
        background-repeat: no-repeat;
        background-position:
            center right,
            22% 0%;
        background-size: 52%, 30%;
    }

    .name-position {
        position: absolute;
        left: 12%;
        top: 47%;
        -webkit-transform: none;
        transform: none;
    }

    #menu li {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

.name-position h1 {
    font-family: 'Crimson Pro', sans-serif;
    font-weight: 400;
    margin-bottom: 12px;
    font-size: 48px;
}

.name-position p {
    margin: 0;
    font-size: 20px;
    width: 80%;
}

/* PROJECTS SECTION */

/* #project-titles h1 {
    font-size: 9rem;
} */